<div class="flex h-screen w-full flex-col bg-cover bg-no-repeat bg-stone-200">
  <header class="w-full py-4 flex-shrink-0">
    <div class="max-w-screen-xl px-4 text-left flex w-full flex-row">
      <img src="logo.svg" alt="Logo" class="w-14 h-auto">
      <p class="text-4xl font-bold text-gray-900 !ml-4 !mt-3 !mb-2">SOLEO</p>
      <p class="text-4xl text-gray-900 !ml-2 !mt-3 !mb-2">GAMES</p>
    </div>
  </header>
  <mat-divider class="flex-shrink-0"></mat-divider>
  <div class="flex-grow flex flex-col">
    <router-outlet></router-outlet>
  </div>
</div>
