<div class="flex flex-col w-full h-full">
  <app-actions-bar [languages]="languages" [sortParameters]="sortParameters" (addNewClicked)="addNewClicked()"
    (languageSelected)="languageSelected($event)" (filterSelected)="filterSelected()"
    (sortSelected)="sortSelected($event)" (exportClicked)="exportClicked()" (autoExportCliecked)="autoExportCliecked()"
    (searchStringEntered)="searchStringEntered($event)"></app-actions-bar>
  <div class="flex flex-row flex-grow h-full">

    <div class="w-1/12 min-w-44">
      <app-side-nav (categoryClicked)="itemsCategoryChanged($event)" ></app-side-nav>
    </div>

    <div class="w-11/12">
      <app-preview-table (editClick) = "onEditClick($event)" (selectedItems) = "onSelectedItems($event)"></app-preview-table>
    </div>

  </div>
</div>
